/* Font declarations */
@font-face {
    font-family: "Poppins-Regular";
    src: url(./assets/locales/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(./assets/locales/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(./assets/locales/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(./assets/locales/Poppins-Bold.ttf);
}

body {
    font-family: "Poppins-Regular", sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 3rem;
    margin-top: 40px;
}

h1 span {
    color: /*#f70814*/ #ff3366;
}

h2 {
    font-size: 1.2rem;
    margin-top: 30px;
}

input {
    border: none;
    border-radius: 4px;
    height: 40px;
}

input {
    border-radius: 4px;
    width: 400px;
    padding: 0;
    padding-left: 15px;
    font-size: 1rem;
}

input::placeholder {
    color: darkgrey;
}

input:focus {
    outline: none;
}

button {
    border: none;
    border-radius: 4px;
    height: 40px;
    background-color: /*#f40812*/ #ff3366;
    color: white;
    font-size: 1rem;
    font-family: "Poppins-SemiBold", sans-serif;
    width: 100px;
}

a {
    text-decoration: none;
    color: /*red*/ #ff3366;
}
