body {
    font-family: FlowCircular-Regular, sans-serif;
}

a {
    color: white;
}

#song-description {
    background-color: var(--secondary);
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 40px;
    margin-bottom: 60px;
}

#track-image {
    width: 320px;
    margin-left: 80px;
    position: relative;
    bottom: -15px;
}

#text-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#favorite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

#favorite-button svg {
    width: 30px;
    margin-left: 600px;
    margin-top: 22px;
}

#favorite-button.clicked svg path {
    fill: #ff3366;
}

#track-name {
    font-size: 1.5rem;
    /* font-family: "Poppins-SemiBold", sans-serif; */
    margin-top: 15px;
}

#artist-name {
    font-size: 1.2rem;
    /* font-family: "Poppins-Regular", sans-serif; */
    margin-top: 20px;
    text-decoration: underline;
}

#date-wrapper {
    display: flex;
    margin-top: 85%;
    align-items: center;
}

#date-wrapper img {
    width: 20px;
    margin-right: 10px;
}

#lyrics {
    line-height: 30px;
    margin-bottom: 60px;
    width: 100%;
    margin-left: 270px;
}

#pog {
    color: black;
}
