#top-page-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#top-page-wrapper img {
    margin-top: 40px;
    margin-left: 40px;
}

#top-page-wrapper h1 {
    margin-left: -120px;
}

#track-list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 380px);
    gap: 60px;
    row-gap: 60px;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.track {
    background-color: var(--secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 25px;
}

.track-image {
    width: 250px;
    border-radius: 10px;
    position: relative;
    top: -15px;
}

.track-name {
    margin-top: 10px;
}

.artist-name {
    margin-top: 20px;
    color: var(--text-secondary);
}

#track-list a {
    margin-top: 20px;
}

#credit {
    margin-top: 60px;
    margin-bottom: 20px;
    color: var(--text);
}

#credit span {
    color: #fffe65;
}
