#top-page-wrapper {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

#greetings {
    margin-right: 220px;
    margin-top: 60px;
    font-size: 18px;
    font-family: "Poppins-Bold", sans-serif;
    font-weight: bold;
}

#greetings span {
    color: var(--main);
}

#center-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -50px;
}

#input-wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#favorites-icon {
    width: 30px;
    margin-left: 280px;
    margin-top: 55px;
}

#favorites-icon:hover {
    cursor: pointer;
}

#track-list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 380px);
    gap: 60px;
    row-gap: 60px;
    width: 100%;
    justify-content: center;
}

#empty-message {
    display: flex;
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    justify-self: center;
    color: var(--text-secondary);
}

.track {
    background-color: var(--secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 25px;
}

.track-image {
    width: 250px;
    border-radius: 10px;
    position: relative;
    top: -15px;
}

.track-name {
    margin-top: 10px;
}

.artist-name {
    margin-top: 20px;
    color: var(--text-secondary);
}

#track-list a {
    margin-top: 20px;
}

#credit {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 20px;
    color: var(--text);
}

#credit span {
    color: #fffe65;
    margin-left: 5px;
}
